body {
  background-image: url("images/frenchstucco.png");
}

.container {
  display: flex;
}

.hidden {
  display: none;
}

.intro-header {
  margin-top: 10px;
  max-width: 900px;
  max-height: 60px;
  position: relative;
}

header {
  position:absolute;
  left: calc(20%);
}

#main-sidebar > div.main-links > li > a {
  color: #5e4941;
}

#main-sidebar > div.main-links > li > a:hover {
  color: #7fa5e2;
}

#main-sidebar {
  padding: 2em 2em 1em 2.5em;
  opacity: 0.7;
  display: block;
  width: 235px;
  height: 300px;
  list-style-type: none;
  position:absolute;
  margin: auto;
}

#main-sidebar > div.main-links > li {
  padding: 1em .5em .5em .5em;
  height: auto;
  position:relative;
}

#main-sidebar > div.main-links > li > a {
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 1.3em;
}

#name {
  height: auto;
  padding: 0.4em;
  text-align: left;
  font-size: 1.5em;
  font-family: 'Give You Glory';
  /*font-family: 'Poiret One', cursive;*/
  /*font-family: 'Josefin Sans', sans-serif;*/
  /*font-family: 'Amatic SC', cursive;*/
}

#break > hr {
  width: 85%;
  height: 2px;
  margin-right: auto;
  border: 0 none;
  background-color: #5e4941;
}

.main-content {
  margin: auto;
}

.box-content {
  background-color:rgba(233, 226, 210, 0.48);
  background-clip:border-box;
  position: absolute;
  border-radius: 3%;
  margin-top: 3em;
  margin-right: 20%;
  margin-left: 190px;
  padding: 20px 40px 40px 40px;
  left: calc(20%);
  font-family:'Alegreya Sans', light;
  color: #5e4941;
  overflow: auto;
}

.box-content > p {
  padding-right: 3%;
  float: right;
}
#about-stuff {
  float: right;
  max-width: inherit;
  overflow: auto;
}

#artist-photo > img {
  border-radius: 3%;
  float: left;
  margin-right: 20px;
}

#photography-stuff > div > img {
  border-radius:3%;
  border-width: 10%;
}
